<section id="shopify-section-template--15602560893060__1663589985870c6542" class="shopify-section">
    <style>
        #template--15602560893060__1663589985870c6542 {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 10px;
            --spacing-padding-bottom: 30px;
        }
    </style>

    <div id="template--15602560893060__1663589985870c6542"
         class="ds-bg-transparent bg-no-repeat bg-contain bg-top lg:bg-center ds-color-default">
        <div class="ds-page-container">
            <div class="py-4">
                <div class="flex lg:gap-8 items-center flex-col md:flex-row-reverse">
                    <div class="overflow-hidden w-full md:w-1/2">
                        <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Captura_de_Tela_2023-12-02_as_22.46.58.png" alt=""
                             width="988" height="556" loading="lazy" class="max-w-full mx-auto">
                    </div>
                    <div class="text-center flex-auto mt-6 md:mt-0 md:w-1/2 md:ds-align-left ds-text-container-6">
                        <div class="ds-align-left">
                            <h2 class="ds-text-6 ds-format-tags  ds-font-heading ds-color-accent-1  ds-text-">
                                <p><strong>É A ÚNICA, É A ORIGINAL</strong></p>
                                <p><strong>É A GUMMY HAIR!</strong></p>
                            </h2>
                            <div class="ds-text-2 ds-font-body  mt-2 ">
                                <p>A <strong>Gummy Hair</strong> possui em sua fórmula a <strong>biotina</strong>, ativo
                                    responsável por auxiliar na <strong>manutenção dos seus cabelos e da sua
                                        pele</strong>. Por isso, a <strong>Gummy Hair</strong> é a opção perfeita para
                                    você <strong>cuidar do seu cabelo.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>