<section id="shopify-section-template--15602560893060__1663261832116307cd" class="shopify-section">
    <style>
        #template--15602560893060__1663261832116307cd {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 20px;
            --spacing-padding-bottom: 20px;
        }
    </style>
    <div id="template--15602560893060__1663261832116307cd"
         class="ds-bg-1 bg-no-repeat bg-contain bg-top lg:bg-center ds-color-white ">
        <div class="ds-page-container">
            <div class="p-4 text-center lg:flex lg:gap-x-8 lg:justify-between lg:items-center">
                <div class="inline-block mx-auto mb-4 lg:mb-0">
                    <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Newsletter_-_Image_751f1e3b-9c12-43e3-91ba-2083433766f6.png"
                         alt="" height="149" width="283">
                </div>
                <div class="mb-4 lg:mb-0 lg:text-left">
                    <div class="ds-align-">
                        <h3 class="ds-text-3 ds-format-tags  ds-font-accent ds-color-accent-5  ds-text-">
                            <p>FAÇA PARTE DA COMUNIDADE GUMMY</p>
                        </h3>
                        <div class="ds-text-1 ds-font-body ds-color-white mt-2 ">
                            <p>Cadastre-se em nossa Newsletter e tenha acesso a ofertas e descontos exclusivos.</p>
                        </div>
                    </div>
                </div>
                <div class="mx-2 w-full sm:mx-0 lg:max-w-lg">
                    <label for="newsletter-email-address" class="sr-only">E-mail</label>
                    <form class="newsletter-form">
                        <input type="hidden" name="form_type" value="customer"><input
                            type="hidden" name="utf8" value="✓">
                        <div class="relative w-full ds-input ds-input-border- !p-0 !m-0 ">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <input id="newsletter-email-address" name="contact[email]" type="email" autocomplete="email"
                                   required=""
                                   class="w-full max-w-lg  opacity-100 hover:opacity-75 ds-input-bg-1 ds-input-text-1 ds-input ds-input-border-1"
                                   placeholder="Digite seu e-mail...">
                            <button type="submit"
                                    class="lg:w-full mx-auto mt-3 ds-btn brightness-100 hover:brightness-110 ds-btn-text-2 ds-btn-border-1 ds-btn-gradient-2">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>