<section id="shopify-section-template--15602560532612__166395450874943949" class="shopify-section">
    <style>
        #template--15602560532612__166395450874943949 {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 10px;
            --spacing-padding-bottom: 10px;
        }
    </style>
    <div id="template--15602560532612__166395450874943949"
         class="ds-bg-transparent bg-no-repeat bg-contain bg-top lg:bg-center ds-color-default ">
        <div class="ds-page-container ds-container-lg">
            <div class="flex gap-1 items-center">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.349 10.296" class="" width="12" height="12">
                        <path id="Icon_metro-home" data-name="Icon metro-home"
                              d="M13.919,9.062l-5.674-4.4-5.674,4.4v-1.8l5.674-4.4,5.674,4.4ZM12.5,8.9v4.256H9.664V10.32H6.826v2.837H3.989V8.9L8.245,5.71Z"
                              transform="translate(-2.571 -2.861)" fill="gray"></path>
                    </svg>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="" width="12" height="12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                </svg>
                <a class="text-sm" [routerLink]="['/collections', colecao?.slug]">
                    {{ colecao?.nome }}
                </a>
            </div>
        </div>
    </div>
</section>