<section id="shopify-section-template--15602560893060__16632617952e108f31" class="shopify-section">
    <style>
        #template--15602560893060__16632617952e108f31 {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 40px;
            --spacing-padding-bottom: 40px;
        }
    </style>

    <div id="template--15602560893060__16632617952e108f31"
         class="ds-bg-gradient-2 bg-no-repeat bg-contain bg-top lg:bg-center ds-color-black ">
        <div class="ds-page-container-full">
            <div class="ds-page-container !py-0 !my-0">
                <div class="ds-align-center">
                    <h2 class="ds-text-5 ds-format-tags  ds-font-heading ds-color-black  ds-text-">
                        <p><strong>A MARCA PREFERIDA DAS CELEBRIDADES</strong></p>
                    </h2>
                </div>
            </div>
            <div>
                <div class="flex flex-wrap justify-center">
                    <div class="p-2 shrink-0 ds-color-default">
                        <div class="overflow-hidden rounded-lg">
                            <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/bia-napolitano_51f8404b-24cd-4851-912c-4242afa24496.png" alt=""
                                 width="887" height="1248" loading="lazy" class="max-w-[16rem] mx-auto">
                        </div>
                        <div class="px-2 mx-auto -mt-4 w-5/6 max-w-[16rem]">
                            <div class="flex relative gap-2 p-3 break-words bg-white rounded-lg drop-shadow-md">
                                <div>
                                    <svg class="mt-1 ds-color-accent-1" xmlns="http://www.w3.org/2000/svg"
                                         width="17.489" height="11.892" fill="currentColor" stroke="none"
                                         viewBox="0 0 17.489 11.892">
                                        <path d="M-6.548-27.927a3.755,3.755,0,0,1-2.886-1.307,4.531,4.531,0,0,1-1.187-3.158,7.944,7.944,0,0,1,.795-3.583A7.319,7.319,0,0,1-7.7-38.588a6.133,6.133,0,0,1,2.94-1.231q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.325,2.325,0,0,0-.414,1.688A4.929,4.929,0,0,1-4.49-35.8a3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.53,4.53,0,0,1-1.2,3.136A3.739,3.739,0,0,1-6.548-27.927Zm9.343,0A3.765,3.765,0,0,1-.08-29.234a4.507,4.507,0,0,1-1.2-3.158,7.855,7.855,0,0,1,.806-3.583,7.475,7.475,0,0,1,2.123-2.614A6.084,6.084,0,0,1,4.6-39.819q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.421,2.421,0,0,0-.436,1.688,4.929,4.929,0,0,1,1.971.577,3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.553,4.553,0,0,1-1.187,3.136A3.729,3.729,0,0,1,2.8-27.927Z"
                                              transform="translate(10.621 39.819)"></path>
                                    </svg>
                                </div>
                                <div>
                                    <h3 class="mb-2 font-bold drop-shadow-sm"><p>Bia Napolitano</p></h3>
                                    <div class="text-sm">
                                        <p>Tinha dificuldades em tomar as capsulas, daí conheci o gummy e não parei
                                            mais. É super delicioso!!!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 shrink-0 ds-color-default">
                        <div class="overflow-hidden rounded-lg">
                            <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/marina-ferrari_26d60073-a8db-4187-9764-2fd45b2f78ea.png" alt=""
                                 width="887" height="1248" loading="lazy" class="max-w-[16rem] mx-auto">
                        </div>
                        <div class="px-2 mx-auto -mt-4 w-5/6 max-w-[16rem]">
                            <div class="flex relative gap-2 p-3 break-words bg-white rounded-lg drop-shadow-md">
                                <div>
                                    <svg class="mt-1 ds-color-accent-1" xmlns="http://www.w3.org/2000/svg"
                                         width="17.489" height="11.892" fill="currentColor" stroke="none"
                                         viewBox="0 0 17.489 11.892">
                                        <path d="M-6.548-27.927a3.755,3.755,0,0,1-2.886-1.307,4.531,4.531,0,0,1-1.187-3.158,7.944,7.944,0,0,1,.795-3.583A7.319,7.319,0,0,1-7.7-38.588a6.133,6.133,0,0,1,2.94-1.231q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.325,2.325,0,0,0-.414,1.688A4.929,4.929,0,0,1-4.49-35.8a3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.53,4.53,0,0,1-1.2,3.136A3.739,3.739,0,0,1-6.548-27.927Zm9.343,0A3.765,3.765,0,0,1-.08-29.234a4.507,4.507,0,0,1-1.2-3.158,7.855,7.855,0,0,1,.806-3.583,7.475,7.475,0,0,1,2.123-2.614A6.084,6.084,0,0,1,4.6-39.819q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.421,2.421,0,0,0-.436,1.688,4.929,4.929,0,0,1,1.971.577,3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.553,4.553,0,0,1-1.187,3.136A3.729,3.729,0,0,1,2.8-27.927Z"
                                              transform="translate(10.621 39.819)"></path>
                                    </svg>
                                </div>
                                <div>
                                    <h3 class="mb-2 font-bold drop-shadow-sm"><p>Marina Ferrari</p></h3>
                                    <div class="text-sm">
                                        <p>Testei e comparei com outro produto, agora não largo mais as minhas gominhas.
                                            Amo demais Gummy Hair.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 shrink-0 ds-color-default">
                        <div class="overflow-hidden rounded-lg">
                            <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/vih-tube.png?v=1708341151&width=887" alt=""
                                 width="887" height="1248" loading="lazy" class="max-w-[16rem] mx-auto">
                        </div>

                        <div class="px-2 mx-auto -mt-4 w-5/6 max-w-[16rem]">
                            <div class="flex relative gap-2 p-3 break-words bg-white rounded-lg drop-shadow-md">
                                <div>
                                    <svg class="mt-1 ds-color-accent-1" xmlns="http://www.w3.org/2000/svg"
                                         width="17.489" height="11.892" fill="currentColor" stroke="none"
                                         viewBox="0 0 17.489 11.892">
                                        <path d="M-6.548-27.927a3.755,3.755,0,0,1-2.886-1.307,4.531,4.531,0,0,1-1.187-3.158,7.944,7.944,0,0,1,.795-3.583A7.319,7.319,0,0,1-7.7-38.588a6.133,6.133,0,0,1,2.94-1.231q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.325,2.325,0,0,0-.414,1.688A4.929,4.929,0,0,1-4.49-35.8a3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.53,4.53,0,0,1-1.2,3.136A3.739,3.739,0,0,1-6.548-27.927Zm9.343,0A3.765,3.765,0,0,1-.08-29.234a4.507,4.507,0,0,1-1.2-3.158,7.855,7.855,0,0,1,.806-3.583,7.475,7.475,0,0,1,2.123-2.614A6.084,6.084,0,0,1,4.6-39.819q-.087.109-.2.24a12.7,12.7,0,0,0-1.089,1.514,2.421,2.421,0,0,0-.436,1.688,4.929,4.929,0,0,1,1.971.577,3.951,3.951,0,0,1,1.459,1.35,3.712,3.712,0,0,1,.555,2.058,4.553,4.553,0,0,1-1.187,3.136A3.729,3.729,0,0,1,2.8-27.927Z"
                                              transform="translate(10.621 39.819)"></path>
                                    </svg>
                                </div>
                                <div>
                                    <h3 class="mb-2 font-bold drop-shadow-sm"><p>Viih Tube</p></h3>
                                    <div class="text-sm">
                                        <p>Me surpreendeu bastante, meu cabelo parou de cair e está crescendo muito mais
                                            rápido!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>