<section id="shopify-section-template--15602560532612__image_banner_Hc6FgB" class="shopify-section">
    <div id="template--15602560532612__image_banner_Hc6FgB"
         class="ds-bg-transparent bg-no-repeat bg-contain bg-top lg:bg-center ">
        <div class="ds-page-full">
            <div class="relative">
                <button disabled="">
                    <a role="link" aria-disabled="true">
                        <div>
                            <img src="{{ colecao?.banner }}" alt="" draggable="false" sizes="100vw" width="1920" height="400" class="mx-auto w-full h-auto ">
                        </div>
                    </a>
                </button>
            </div>
        </div>
    </div>


</section>