<section id="shopify-section-template--15602560893060__image_banner_46Nh6W" class="shopify-section">
    <style>
        #template--15602560893060__image_banner_46Nh6W {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 0px;
            --spacing-padding-bottom: 0px;
        }
    </style>

    <div id="template--15602560893060__image_banner_46Nh6W" class="ds-bg-transparent bg-no-repeat bg-contain bg-top lg:bg-center ">
        <div class="ds-page-full">
            <div class="relative">
                <button disabled="">
                    <a role="link" aria-disabled="true">
                        <div>
                            <picture>
                                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/COMPONENTES_de5c4a2f-6ed3-4484-96cb-0d6df6186f1b.png" draggable="false" sizes="100vw" loading="lazy" class="mx-auto w-full h-auto "
                                     height="488" width="1280" alt="">
                            </picture>
                        </div>
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>