<section id="shopify-section-template--15602560893060__slideshow_b8cHMi" class="shopify-section">
    <style>
        #template--15602560893060__slideshow_b8cHMi {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 0px;
            --spacing-padding-bottom: 0px;
        }
    </style>
    <div id="template--15602560893060__slideshow_b8cHMi" class="ds-bg-transparent bg-no-repeat bg-contain bg-top lg:bg-center ">
        <div class="ds-page-full">
            <div tabindex="0" role="region" class=" relative">
                <div role="list" class="[&amp;>*:first-child]:ml-auto [&amp;>*:last-child]:mr-auto  flex items-stretch overflow-scroll snap-x snap-mandatory ds-scrollbar-hidden">
                    <div id="slide" class="relative min-w-full snap-center ds-bg-transparent">
                        <button>
                            <a class="shrink-0 max-w-full">
                                <div>
                                    <img alt="" draggable="false" sizes="100vw" class="mx-auto w-full h-auto "
                                         src="https://www.gummyhair.com.br/cdn/shop/files/BANNER_COMBOS_2x_ee8f7f12-9bea-4d9b-a71d-599db6f208f6.jpg"
                                         height="2676" width="1960">
                                </div>
                            </a>
                        </button>
                    </div>
                </div>
                <button class="ml-1 absolute flex justify-center left-0 w-10 h-10 my-auto sm:visible inset-y-1/2 text-white rounded-full opacity-40 ds-bg-accent-1 hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="m-auto w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                    </svg>
                </button>
                <button class="mr-1 absolute flex justify-center right-0 w-10 h-10 my-auto sm:visible inset-y-1/2 text-center text-white rounded-full opacity-40 ds-bg-accent-1 hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="m-auto w-6 h-6" width="24" height="24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </button>
            </div>

        </div>
    </div>


</section>