<section id="shopify-section-template--15602560893060__16632616978798e2e9" class="shopify-section">
    <style>
        #template--15602560893060__16632616978798e2e9 {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 40px;
            --spacing-padding-bottom: 40px;
        }
    </style>
    <div id="template--15602560893060__16632616978798e2e9"
         class="ds-bg-gradient-2 bg-no-repeat bg-contain bg-top lg:bg-center ds-color-default ">
        <div class="ds-page-container">
            <div class="py-6 px-4 text-center lg:flex lg:grid-cols-2 lg:items-center">
                <div class="mb-6 lg:basis-1/2">
                    <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/POTE_GUMMY_001.png"
                         loading="lazy" class="mx-auto w-full max-w-lg" alt="" height="1605" width="1462">
                </div>
                <div class="ds-align-left lg:pl-10 lg:text-left lg:basis-2/3">
                    <div class="lg:pl-12">
                        <div class="ds-align-left">
                            <h2 class="ds-text-5 ds-format-tags  ds-font-heading ds-color-black  ds-text-">
                                <p><strong>RESULTADO NAS PRIMEIRAS SEMANAS DE USO OU SEU DINHEIRO DE VOLTA*</strong></p>
                            </h2>
                        </div>
                        <ul>
                            <style data-shopify="">
                                @media (max-width: 759px) {
                                    .featured-card-image {
                                        width: 2.625rem;
                                    }
                                }
                            </style>
                            <li class="mt-4 list-none">
                                <div class="inline-flex gap-x-6 w-full p-4 bg-white ds-rounded-  items-center shadow-lg shrink ds-shadow-accent-1 ds-bg- ">
                                    <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Destaque_Image_1.png"
                                         width="62" loading="lazy" class="h-auto w-16 featured-card-image" height="62" alt="">
                                    <div class="flex mt-1 grow justify-between leading-5 text-left md:block space-y-3 lg:space-y-0">
                                        <div class="ds-align-left">
                                            <h3 class="ds-text-2 ds-format-tags  ds-font-heading ds-color-accent-1  ds-text-">
                                                <p>*Garantia de 28 dias ou seu dinheiro de volta</p>
                                            </h3>

                                            <div class="ds-text-1 ds-font-body ds-color-default mt-2 ">
                                                <p>Tenha suporte via telefone, chat ou e-mail</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <style>
                                @media (max-width: 759px) {
                                    .featured-card-image {
                                        width: 2.625rem;
                                    }
                                }
                            </style>
                            <li class="mt-4 list-none">
                                <div class="inline-flex gap-x-6 w-full p-4 bg-white ds-rounded-  items-center shadow-lg shrink ds-shadow-accent-1 ds-bg-">
                                    <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Destaque_Image_2.png"
                                         width="62" loading="lazy" class="h-auto w-16 featured-card-image" height="62" alt="">
                                    <div class="flex mt-1 grow justify-between leading-5 text-left md:block space-y-3 lg:space-y-0">
                                        <div class="ds-align-left">
                                            <h3 class="ds-text-2 ds-format-tags  ds-font-heading ds-color-accent-1  ds-text-">
                                                <p><strong>+ 100&nbsp;milhões de corações vendidos.</strong></p>
                                            </h3>

                                            <div class="ds-text-1 ds-font-body ds-color-default mt-2 ">
                                                <p>Durante 5 anos a única vitamina de coração do mundo</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <style data-shopify="">
                                @media (max-width: 759px) {
                                    .featured-card-image {
                                        width: 2.625rem;
                                    }
                                }
                            </style>

                            <li class="mt-4 list-none">
                                <div class="inline-flex gap-x-6 w-full p-4 bg-white ds-rounded-  items-center shadow-lg shrink ds-shadow-accent-1 ds-bg- ">
                                    <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Destaque_Image_3.png"
                                         width="62" loading="lazy" class="h-auto w-16 featured-card-image" alt=""
                                         height="62">
                                    <div class="flex mt-1 grow justify-between leading-5 text-left md:block space-y-3 lg:space-y-0">
                                        <div class="ds-align-left">
                                            <h3 class="ds-text-2 ds-format-tags  ds-font-heading ds-color-accent-1  ds-text-">
                                                <p>+ 4.000 de reviews verificados</p>
                                            </h3>
                                            <div class="ds-text-1 ds-font-body ds-color-default mt-2 ">
                                                <p>Classificação entre 4.7 e 5 estrelas geralmente</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>