<section id="shopify-section-template--15602560893060__16632617469c941f26" class="shopify-section">
    <style>
        #template--15602560893060__16632617469c941f26 {
            --spacing-margin-top: 0px;
            --spacing-margin-bottom: 0px;
            --spacing-padding-top: 0px;
            --spacing-padding-bottom: 0px;
        }
    </style>

    <div id="template--15602560893060__16632617469c941f26"
         class="ds-bg-2 bg-no-repeat bg-contain bg-top lg:bg-center ds-color-default ">
        <div class="ds-page-container ds-container-lg">
            <div class="flex flex-wrap gap-2 justify-center p-4 ds-align-center">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Asset_59icon.png" alt=""
                     width="734" height="259" loading="lazy" class="w-auto h-16">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Asset_62icon.png" alt=""
                     width="679" height="260" loading="lazy" class="w-auto h-16">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Asset_63icon.png" alt=""
                     width="680" height="259" loading="lazy" class="w-auto h-16">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Asset_61icon.png" alt=""
                     width="676" height="259" loading="lazy" class="w-auto h-16">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Asset_60icon.png" alt=""
                     width="572" height="259" loading="lazy" class="w-auto h-16">
                <img ngSrc="https://www.gummyhair.com.br/cdn/shop/files/Grupo_21153icon.png" alt=""
                     width="730" height="259" loading="lazy" class="w-auto h-16">
            </div>
        </div>
    </div>
</section>